# Backend API
PORT=4000
CLIENT_ORIGIN=http://localhost:5173

# MongoDB (put your full MongoDB Atlas connection string here)
MONGODB_URI=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT auth
JWT_SECRET=

